* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
    text-decoration: none;
}

nav ul li a {
    color: white;
    text-decoration: none !important;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background: #eee;
    padding: 1rem;
  }

  .menu-btn {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
  }

nav ul li a:hover {
    color: rgb(177, 177, 251);
    font-size: 1.02rem;
}


.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.firstSection>div {
    margin: 23px 0;
    width: 30%;

}

.leftSection {
    font-size: 3rem;
    margin: 30px 0;

}

.rightSection img {
    width: 80%;
}

.purple {
    color: blueviolet;
}

.textGrey {
    color: gray;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 70vh;
}

main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
    justify-content: space-around;

}

.secondSection .vertical {
    background-color: white;
    height: 100px;
    width: 1px;
}

.vertical img {
    height: 23px;
    position: relative;
    bottom: 26px;
    right: 10px;
}

.vertical .verticle-title {
    position: relative;
    top: 80px;
    width: 210px;
}

.vertical .verticle-desc {
    position: relative;
    top: 80px;
    width: 210px;
    color: gray;
    margin: 5px 0px;
    font-size: 12px;
    text-align: left;
}

footer {
    background-color: rgb(13, 13, 44);
    font-size: 20px;
}

.footer {
    display: flex;
    padding: 20px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

footer .footer-right {
    color: gray;
    text-align: center;
    padding: 10px 0px;
}

/* mobile (<600px) */
@media (max-width: 600px) {
    nav{
        width: 100%;
    }
    nav ul li {
      display: none;
    }
  
    .menu-btn {
      display: block;
    }
  }